<h1>Congratulations <%= @user.name%>! You are selected for this job</h1>
<p>Congratulations! This email is to formally offer you the job .
We strongly believe that your skills and expertise will help our company to reach great heights.</p>