<h1>Hello <%= @user.name%>!</h1>
<p>
Thank you for taking the time to consider us.
We wanted to let you know that we have chosen to move forward with a different candidate for the this position.
Our team was impressed by your skills and accomplishments.
We think you could be a good fit for other future openings and will reach out again if we find a good match.
</p>