<h1>Dear <%= @user.name%>!</h1>
<p>Thank you for applying to the Job. I'd like to inform you that we received your application. Our hiring team is currently reviewing all applications.If you are among qualified candidates, you will receive email from our one of our recruiters</p>
<p>Thank you, again, for taking the time to apply to this role </p>