<div class="container mt-4">
    <div class="tab">
    
      <h1 class="post display-4">Edit Job Post</h1>

      <%= render "form" %>

      <div class="post mt-3">
        <%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
      </div>

    </div>
</div>
